aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
langchain==0.3.4
langchain-chroma==0.1.4
langchain-cli==0.0.33
langchain-community==0.3.3
langchain-core==0.3.13
langchain-huggingface==0.1.1
langchain-mistralai==0.2.0
langchain-ollama==0.2.0
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
langchain-together==0.2.0
nltk==3.9.1
notebook==6.1.5
numpy==1.26.4
ollama==0.3.3
pandas==2.2.3
pillow==10.4.0
pycparser==2.22
pydantic==2.9.2
requests==2.32.3
